# Cypress
cypress.env.json
cypress/videos/
cypress/screenshots/
cypress/downloads/
cypress/reports/
cypress/debug/

# Dependencies
node_modules/

# Logs
*.log
npm-debug.log*
.specstory/
# OS
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/
*.swp
*.swo
