{
  "AUTH_USERNAME": "tester",
  "AUTH_PASSWORD": "thisissandstesting",
  "AUTH_URL": "https://staging.entwickler.de",
  "LOGIN_URL": "https://staging.entwickler.de/login/",
  "USER_USERNAME": "hosman+rag6@basta.net",
  "USER_PASSWORD": "Hossamaccent2015+"
}
