{
  "LOGIN_URL": "https://entwickler.de/login/",
  "APP_ORIGIN": "https://entwickler.de",
  "GRAPHQL_URL": "https://concord.sandsmedia.com/graphql",
  "USER_USERNAME": "hosman+1@jax.de",
  "USER_PASSWORD": "your-app-password"
}
