{
  "LOGIN_URL": "https://entwickler.de/login/",
  "USER_USERNAME": "++",
  "USER_PASSWORD": "++",

  "STAGING_LOGIN_URL": "https://staging.entwickler.de/login/",
  "STAGING_APP_ORIGIN": "https://staging.entwickler.de",
  "STAGING_AUTH_USERNAME": "++",
  "STAGING_AUTH_PASSWORD": "++"
}
